#homepage-header {
  text-align: center;
  background-color: #3b5998;
  padding: 20px 0;

  a {
    text-decoration: none;

  	h2 {
      margin: 0;
      font-size: 34px;
      line-height: 50px;
      font-weight: 600;
      color: #ffffff;
      text-transform: uppercase;
      font-family: sans-serif;
  	}

    .mlb-logo {
      height: 75px;

      img {
        height: 100%;
      }
    }
  }
  .blog-post {

    a {
      font-size: 20px;
      color: white;
      text-decoration: underline;

      &:hover {
        color: #bfbfbf;
      }
    }
  }
}

#latest-blog-wrapper {
  background: url('/assets/background-bb-image.jpg') 0 0 no-repeat;
  background-size: cover;
  overflow: auto;

  .screen {
    background-color: rgba(0,0,0,.5);
    padding: 42px;

    .latest-post {
      max-width: 860px;
      margin: auto;
      text-align: center;

      img {
        width: 100%;
        margin-top: 10px;
      }

      h1 {
        margin: 0;
        color: #ffffff;
        text-decoration: underline;
      }

      h3 {
        margin: 0;
        color: #ffffff;
      }
    }
  }
}

#posts-wrapper {
  background-color: #bfbfbf;

  .keep-posts-inline {
    display: -webkit-box;
    width: 1090px;
    margin: auto;

    a {
      text-decoration: none;

      .posts {
        width: 270px;
        padding: 25px 55px;
        text-align: center;

        img {
          width: 100%;
          height: 250px;
        }

        .textbox {
          background-color: lightblue;
          margin-top: -4px;

          p {
            margin: 0;

            &.category {
              padding-top: 10px;
              color: blue;
              font-weight: 600;
              text-decoration: underline;
            }

            &.title {
              color: darkgrey;
              padding-bottom: 10px;
            }
          }
        }
      }
    }
  }
  .pagination {
    padding: 10px 0 0;
    margin: 0;
    text-align: center;
    color: blue;
    font-family: sans-serif;
    font-size: 22px;
  }
}

#chat-room-link {
  padding: 50px 100px;
  background-color: #3b5998;

  span {
    font-size: 42px;
    font-family: sans-serif;
    font-weight: 600;
    color: #000;
  }

  a.span.link {
    color: #000;
    font-size: 42px;
    font-family: sans-serif;
    font-weight: 600; 
    text-decoration: underline;

   &:hover {
    color: #bfbfbf;
   }
  }

  h1 {
    color: #bfbfbf;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: none;
  }
}

















