#outer-wrapper {
	background: image-url('/assets/background-bb-image.jpg') 0 0 no-repeat;
  background-size: cover;

  .screen {
    background-color: rgba(0,0,0,.5);

    #blog-wrapper {
      width: 800px;
      margin: auto;
      background-color: #bfbfbf;
      padding: 50px 100px;

      .title {
        text-align: center;


        h1 {
          color: #3b5998;
          font-family: sans-serif;
          margin-top: 0;
          margin-bottom: 25px;
          font-size: 61px;
        }
      }

      .image {
        
        img {
          width: 100%;
          border-style: solid;
          border-color: #222;
        }
      }

      .author {
        text-align: left;

        span {
          color: #3b5998;
          font-family: sans-serif;
        }
      }

      .body {

        p {
          line-height: 1.5;
          font-size: 16px;
          font-family: sans-serif;
        }
      }
    }
}
}